{% extends "general/base.html" %}
{% load static %}

{% block content %}

     <h1 class="title-inc">Инкотермс</h1>
     <img src="{% static 'images/back.png' %}" alt="" width="50px" class="back-to-inc">
     <div class="incoterms-container">
       <div class="main-inc">
         <span>
           Инкотермс 2010 (Incoterms 2010) – это международные правила, признанные правительственными органами,
           юридическими компаниями и коммерсантами по всему миру как толкование наиболее применимых в международной торговле терминов.
           Сфера действия Инкотермс 2010 (Incoterms 2010) распространяется на права и обязанности сторон
           по договору купли-продажи в части поставки товаров (условия поставки товаров).
           Каждый термин Инкотермс 2010 (Incoterms 2010) представляет собой аббревиатуру из трех букв.
         </span>

         <h2>Отправление <span>Группа Е</span></h2>
         <ul>
           <li>
             <a>EXW</a>
             <span>Франко завод (... название места отправления)</span>
           </li>
         </ul>
         <hr>

         <h2>Основная перевозка не оплачена <span>Группа F</span></h2>
         <ul>
           <li>
             <a>FCA</a>
             <span>Франко перевозчик (... название места назначения)</span>
           </li>
           <li>
             <a>FAS</a>
             <span>Франко вдоль борта судна (... название порта отгрузки)</span>
           </li>
           <li>
             <a>FOB</a>
             <span>Франко борт (... название порта отгрузки)</span>
           </li>
         </ul>
         <hr>

         <h2>Основная перевозка оплачена <span>Группа C</span></h2>
         <ul>
           <li>
             <a>CFR</a>
             <span>Франко борт (... название места назначения)</span>
           </li>
           <li>
             <a>CIF</a>
             <span>Стоимость, страхование и фрахт (... название порта назначения)</span>
           </li>
           <li>
             <a>CPT</a>
             <span>Фрахт/перевозка оплачены до (... название места назначения)</span>
           </li>
           <li>
             <a>CIP</a>
             <span>Фрахт/перевозка и страхование оплачены до (... название места назначения)</span>
           </li>
         </ul>
         <hr>

         <h2>Основная перевозка оплачена <span>Группа D</span></h2>
         <ul>
           <li>
             <a>DAP</a>
             <span>Поставка в пункте (... название пункта)</span>
           </li>
           <li>
             <a>DAT</a>
             <span>Поставка с пристани (... название порта назначения)</span>
           </li>
           <li>
             <a>DDP</a>
             <span>Поставка с оплатой пошлины (... название места назначения)</span>
           </li>
         </ul>
       </div>
       <div class="passive-inc">

       </div>

     </div>

    <script type="text/javascript" src="{% static 'js/templates_js/EXW.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/templates_js/incoterms.js' %}"></script>

{% endblock content %}
