<html>
<head>
    <style>
		<!-- этот блок игнорируется gmail'ом! объявляй стили "на месте" -->
    </style>
</head>
<body>
	<!-- Тестируй ВСЕ уведомления открывая вёрстку Word'ом. Он показывает, как уведомление будет отрисовываться в Outlook'е-->
    <table style="font:14px 'Times New Roman',Helvetica,Arial,sans-serif; width: 100%; padding:15px 25px; cellspacing: 0; cellpadding: 0;" align="center" bgcolor="#f5f5f5">
        <tr>
            <td>
																  <!--#fff нельзя использовать! Outlook не хавает!-->
                <table style="margin:30px auto; padding:15px 25px; cellspacing: 0; cellpadding: 0;" width="850" bgcolor="#ffffff" align="center">
                    <tr>
                        <td>
                            <main>
                                <table style="padding:15px 25px; cellspacing: 0; cellpadding: 0;">
                                    <tr style="border-bottom: 1px solid #eeeeee; padding: 10px;">
                                        <td style="text-align:left;">
                                            <a href="http://example.tyu">
												<!--Размер картинки ОБЯЗАТЕЛЬНО задавай высотой и шириной. Иначе Outlook говнянит размер! -->
                                                <img width="200" height="62" src="https://bidding.example.tyu/static/images/docx_logo.png"
                                                     alt="Картли" >
                                            </a>
                                        </td>
                                        <td style="font:14px 'Times New Roman',Helvetica,Arial,sans-serif; text-align:right; width:100%" >
                                            <!--      ВЕЗДЕ перед текстом устанавливай чёткий цвет, иначе gmail при сборке в цепочку писем его покрасит в фиолетовый-->
											<p style="color: black;">
                                                TIN 1655202105<br>
                                                Box 5, 420107, Kazan, Russia<br>
                                                tel:  +7 (843) 580 26 26<br>
                                                e-mail: info@example.tyu<br>
                                                www.example.tyu
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                                <table style="padding:15px 25px; cellspacing: 0; cellpadding: 0;">
                                    <tr>
                                        <td><!--      ВЕЗДЕ перед текстом устанавливай чёткий цвет, иначе gmail при сборке в цепочку писем его покрасит в фиолетовый-->
                                            <p style="text-align:center; color: black;">Уважаемые коллеги! </p>
											<!--      ВЕЗДЕ перед текстом устанавливай чёткий цвет, иначе gmail при сборке в цепочку писем его покрасит в фиолетовый-->
											<!-- Обязательно перед текстом, который выравнивается по левому краю, ставь text-indent: 25px; это элемент стиля Картли-->
											<p style="color: black;  text-indent: 25px;">Компания «Картли» приглашает вас принять участие в открытых торгах, проводимых в системе «Торги» (далее – Система). </p>
											<!--      ВЕЗДЕ перед текстом устанавливай чёткий цвет, иначе gmail при сборке в цепочку писем его покрасит в фиолетовый-->
											<!-- Обязательно перед текстом, который выравнивается по левому краю, ставь text-indent: 25px; это элемент стиля Картли-->
                                            {% for auction in auctions_data %}
                                                <p style="color: black;  text-indent: 25px;"><strong>№ торга: {{ auction.id }}</strong></p>
                                                <p style="color: black;  text-indent: 25px;">Дата и время начала проведения торгов: {{ auction.start_bidding }}</p>
                                                <!--      ВЕЗДЕ перед текстом устанавливай чёткий цвет, иначе gmail при сборке в цепочку писем его покрасит в фиолетовый-->
                                                <!-- Обязательно перед текстом, который выравнивается по левому краю, ставь text-indent: 25px; это элемент стиля Картли-->
                                                <p style="color: black;  text-indent: 25px;">Дата и время окончания проведения торгов: {{ auction.end_bidding }}</p>
                                                <p style="color: black;  text-indent: 25px;">Информация о товаре:</p>
                                                <p style="color: black;  text-indent: 25px;">- наименование и марка полимера: {{ auction.polymer_type }} {{ auction.polymer_shortcode }} {% if auction.polymer_plant %}{{ auction.polymer_plant }}{% endif %}</p>
{#                                                <p style="color: black;  text-indent: 25px;">- минимальная цена - {{ EXAMPLE_AUCTION.start_price_per_tone }} руб. ({% if EXAMPLE_AUCTION.is_price_with_nds %}c{% else %}без{% endif %} НДС)</p>#}
                                                <p style="color: black;  text-indent: 25px;">- минимальная цена - смотри на <a href="https://bidding.example.tyu">bidding.example.tyu</a></p>
                                                <p style="color: black;  text-indent: 25px;">- объём лота – {{ auction.lot_size }} тонн</p>
                                                <p style="color: black;  text-indent: 25px;">- количество лотов – {{ auction.lot_amount }} шт</p>
                                                <p style="color: black;  text-indent: 25px;">- базис поставки – ({{ auction.shipment_condition }}) {{ auction.storage_location }}*</p>
                                                <p style="color: black;  text-indent: 25px;">- способ оплаты – {{ auction.payment_term }}**</p>

                                                <p style="color: black;  text-indent: 25px; font:12px 'Times New Roman',Helvetica,Arial,sans-serif;"><b>* Наша компания готова обсудить дополнительные условия доставки после вашей победы на данных торгах</b></p>
                                                <p style="color: black;  text-indent: 25px; font:12px 'Times New Roman',Helvetica,Arial,sans-serif;">
                                                    <b>** Данный способ оплаты гарантируется при вашей победе. Иные способы обсуждаются с менеджером по почте: {{ auction.seller_email }}.</b></p>
                                                <hr>
                                            {% endfor %}

                                            <p style="color: black;  text-indent: 25px;">Для принятия участия в торгах просим вас зайти на официальный сайт компании «Картли» <a href="https://example.tyu/">https://example.tyu/</a>, переключиться на русскую версию, в правом верхнем углу по кнопке меню
											<!--Размер картинки ОБЯЗАТЕЛЬНО задавай высотой и шириной. Иначе Outlook говнянит размер! -->
											<img src="https://bidding.example.tyu/static/images/menu-black.png" alt="Меню" width="15" height="15">
											выбрать сервис «Торги» и авторизоваться в Системе (рис. 1).</p>

											<!--Размер картинки ОБЯЗАТЕЛЬНО задавай высотой и шириной. Иначе Outlook говнянит размер! -->
											<!--Базовый размер картинки ‪1885 x 916‬-->
                                            <p style="text-align: center;">
                                                <img src="https://drive.google.com/uc?id=1G4ai325YFeVSvTlKhwam14QknNG2YBcV&export=download"
                                                     alt="Инструкция входа на торги" width="600" height="355">
                                            </p>
                                            <p style="text-align:center; color: black;"><i>Рис. 1</i></p>

                                            <p style="color: black;  text-indent: 25px;">Порядок прохождения процедуры авторизации и формирования заявки на участие в торгах изложен в Инструкции к системе «Торги», доступной по ссылке
											<a href="https://bidding.example.tyu/documents/">https://bidding.example.tyu/documents/</a></p>
                                        </td>
                                    </tr>
                                </table>
                            </main>
                        </td>
                    </tr>
					<tr bgcolor="#242526">
						<td style="padding:15px 25px; font-size:12px;font-weight:100;color:#f5f5f5;text-align:center">
							<!--      ВЕЗДЕ перед текстом устанавливай чёткий цвет, иначе gmail при сборке в цепочку писем его покрасит в фиолетовый-->
							<p style="color:#ffffff;">© 2010 — 2019. ООО «КАРТЛИ» Все права защищены.</p>
						</td>
					</tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>